<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <img src="../../../assets/images/logo.png" alt="Mama´s Helpers" width="40" height="40" class="mr-2">
        <a class="navbar-brand" routerLink="/">Mama´s Helpers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registro" routerLinkActive="active"><i class="fas fa-user"></i> Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-key"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/usuarios" routerLinkActive="active"><i class="fas fa-user"></i> Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/citas/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> Crear cita</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/citas" routerLinkActive="active"><i class="fas fa-pen"></i> Citas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cursos/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> Agregar curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cursos" routerLinkActive="active"><i class="fas fa-video"></i> Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin_cursos" routerLinkActive="active"><i class="fas fa-cog"></i> Administrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-lock"></i> Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>