.card {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 10px;
}

button {
    margin-left: auto;
    margin-right: auto;
    background-color: #5580be;
    border-color: #5580be;
}

button:hover {
    background-color: #466b9e;
    border-color: #466b9e;
}

.login-user {
    border: none;
    text-align: center;
}

.login-user:hover {
    border: none;
    text-align: center;
    text-decoration: none;
}