.card {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.9);
    /* text-align: center; */
    border-radius: 10px;
    /* text-align: justify; */
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    /* Sólo WebKit -NO DOCUMENTADO */
    -ms-hyphens: auto;
    /* Guiones para separar en sílabas */
    -moz-hyphens: auto;
    /*  depende de lang en <html>      */
    -webkit-hyphens: auto;
    hyphens: auto;
}

button {
    margin-left: auto;
    margin-right: auto;
    background-color: #5580be;
    border-color: #5580be;
}

button:hover {
    background-color: #466b9e;
    border-color: #466b9e;
}

#desc {
    text-align: justify;
}