<h1>Citas</h1>
<hr>

<div id="container">

    <table class="table mt-4 animated fadeIn faster">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Especialista</th>
                <th style="width:200px" scope="col" class="text-justify">Objetivo</th>
                <!-- <th scope="col">E-mail</th> -->
                <th style="width:180px" scope="col">Paciente</th>
                <th scope="col">Edad</th>
                <th scope="col">Peso</th>
                <th scope="col">Talla</th>
                <th scope="col">Dia</th>
                <th scope="col">Hora</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cita of citas; let i = index">
                <td scope="row">{{ i + 1 }}</td>
                <td class="saltoline">{{ cita.especialista }}</td>
                <td>{{ cita.objetivo }}</td>
                <td>{{ cita.nombre }}</td>
                <td>{{ cita.edad }}</td>
                <td>{{ cita.peso }} Kg</td>
                <td>{{ cita.talla }} m</td>
                <td>{{ cita.dia | date:'mediumDate' }}</td>
                <td>{{ cita.hora }}</td>
                <td>
                    <!-- <a class="btn btn-info mr-3" [routerLink]="['/usuarios/edit', usuario.id]"><i class="fa fa-pen"></i> Editar</a> -->
                    <button class="btn btn-danger" (click)="deleteCita(cita.id)"><i class="fa fa-trash"></i> Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>